/****
this style for mobile first and insha Alla we will make it responseve at the end
*****/
:root {
  --orange: #cf4f00;
  --sectionpadding: 80px 0;
  --ff1: "Poppins", serif;
  --ff2: "Merienda";
}
::selection {
  background-color: var(--orange);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
body {
  font-family: "Poppins", serif;
}
.main-container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}
.App {
  overflow-x: hidden;
}
/********* start reuse componants **********/
.mainbtn {
  width: 115px;
  padding: 10px;
  background-color: white;
  border: 2px solid var(--orange);
  border-radius: 5px;
  cursor: pointer;
}
.mainbtn a {
  color: var(--orange);
  font-weight: 500;
  font-size: 16px;
}
.section-titel {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
/********* end reuse componants **********/

/****** star navigation componant ***********/
nav {
  padding: 10px 0;
  z-index: 1000;
  position: relative;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content img {
  width: 100px;
  color: white;
  --tw-invert: invert(100%);
  filter: invert();
}
.nav-content .mobile-bar {
  font-size: 25px;
  display: block;
  color: white;
  cursor: pointer;
}
.nav-content .mobile-bar svg:last-child {
  display: none;
}
.main-ul {
  display: none;
  justify-content: space-evenly;
  width: calc(100% - 150px);
  padding: 0 20px;
}
.main-ul a {
  color: white;
  font-weight: 700;
}
nav .side-bar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.889);
  padding: 20px;
  transition: all 0.3s linear;
  z-index: 1000;
}
nav .side-bar.active {
  left: 0;
}
nav .side-bar .closeSider {
  font-size: 30px;
  display: block;
  margin: 20px 0 0 auto;
  cursor: pointer;
  color: var(--orange);
}
nav .side-bar .side-ul {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}
nav .side-bar .side-ul li {
  margin: 30px;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

/****** end navigation componant ***********/

/****** start hero componant ***********/
.hero {
  position: relative;
  z-index: 1;
}
.hero::before {
  content: attr(catagory);
  font-size: 20rem;
  color: #f4efef1e;
  position: absolute;
  top: -95px;
  left: 50px;
  font-weight: 500;
}
.hero .hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: relative;
}
.hero-content .hero-details {
  color: white;
  text-align: center;
  padding: 10px;
}

.hero-content .hero-details h1 {
  font-family: "Merienda";
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 0 10px 15px black;
}

.hero-content .hero-details p {
  color: #eadad0;
  line-height: 30px;
  font-size: 14px;
  margin: 25px 0;
}

.hero .hero-content .topRec_ h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}
.hero .hero-content .topRec_ h2 .decoration {
  width: 35%;
  display: inline-block;
  height: 1px;
  background-color: white;
}
.hero .hero-content .ulRecommendation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .ulRecommendation li {
  width: calc(100% / 3 - 25px);
  opacity: 0.5;
  transition: all 0.2s linear;
  cursor: pointer;
  text-align: center;
}
.hero .hero-content .ulRecommendation li:hover {
  transform: scale(1.1);
}
.hero .hero-content .ulRecommendation li.active {
  opacity: 1;
  transform: scale(1.1);
}
.hero .hero-content .ulRecommendation li span {
  display: block;
}
.hero .hero-content .ulRecommendation li span:first-of-type {
  text-decoration: line-through;
  color: #bbb4b4;
}

.hero .hero-content .hero-banner img {
  width: 175px;
  filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.4));
}

.hero .hero-content .ulRecommendation li figure img {
  width: 70px;
  filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.4));
}
/****** end hero componant ***********/

/****** start Products componant ***********/
.products {
  padding: var(--sectionpadding);
  background-color: #edeef0;
}
.products .products-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.products .products-content .product {
  width: 95%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.products .products-content .product figure {
  width: 100px;
  margin: auto;
}
.products .products-content .product img {
  width: 100%;
}
.products .products-content .product img {
  width: 100%;
}
.products .products-content .product .p-details h1 {
  font-family: var(--ff2);
  margin: 10px 0;
}
.products .products-content .product .p-details p {
  font-size: 13px;
  color: #78797a;
  margin: 10px 0;
}

/****** end Products componant ***********/

/****** start About componant ***********/
.about {
  padding: var(--sectionpadding);
}
.about .about-content .box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about .about-content .box figure {
  width: 250px;
  position: relative;
}
.about .about-content .box figure img {
  width: 100%;
}
.about .about-content .box figure img:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.about .about-content .box .box-details {
  text-align: center;
}
.about .about-content .box .box-details h1 {
  font-size: 30px;
}
.about .about-content .box .box-details p {
  font-size: 15px;
  color: #78797a;
  margin: 25px 0;
}
.about .about-content .about-footer {
  background-image: linear-gradient(to bottom, #fa9753, #f9751a);
  padding: 50px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
}
/****** end About componant ***********/

/****** start blogs componant ***********/
.blog {
  padding: var(--sectionpadding);
  background-color: #edeef0;
}
.blog .blog-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.blog .blog-content .blog-unit {
  padding: 10px;
  background-color: white;
}
.blog .blog-content .blog-unit figure,
.blog .blog-content .blog-unit img {
  width: 100%;
}
.blog .blog-content .blog-unit .blog-unit-details a {
  margin: 10px 0;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.blog .blog-content .blog-unit .blog-unit-details p {
  color: #78797a;
}

/****** end blogs componant ***********/

/****** start questions componant ***********/
.questions {
  padding: var(--sectionpadding);
}
.questions .questions-content li {
  position: relative;
  padding: 20px 10px 50px 10px;
  border-bottom: 1px solid #78797a79;
  cursor: pointer;
}
.questions .questions-content li h1 {
  font-size: 18px;
}
.questions .questions-content li h1 span {
  display: inline-block;
  position: absolute;
  right: 0;
}
.questions .questions-content li p {
  margin-top: 10px;
  color: #78797a;
}

/****** end Question componant ***********/

/****** start footer componant ***********/
.footer {
  padding: var(--sectionpadding);
  background-color: #f97316;
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  justify-content: space-between;
}
.footer .footer-content a {
  color: white;
}
.footer-content .contact img {
  width: 100px;
  filter: invert();
}
.footer-content .contact p {
  margin: 10px 0;
}
.footer-content .contact svg {
  margin-right: 5px;
}
.footer-content .links ul li {
  margin: 10px 0;
}
.footer-content .follow .social-icons {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}
.footer-content .follow .social-icons svg {
  font-size: 25px;
}
.footer-content .follow img {
  width: 250px;
  margin: 10px 0;
}
.footer .right {
  position: relative;
  top: 80px;
}
.footer .right h1 {
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: var(--ff2);
  padding-bottom: 20px;
}

/****** end footer componant ***********/

/******** responsive ******************/
@media (min-width: 575px) {
  /*** start hero componant ***/
  /*** end hero componant ***/

  /*** start product componant ***/
  .products .products-content {
    justify-content: space-between;
    gap: 40px;
  }
  .products .products-content .product {
    width: calc(100% / 2 - 40px);
  }
  /*** end product componant ***/

  /*** start about componant ***/
  .about .about-content .box figure {
    width: 350px;
  }
  /*** end about componant ***/

  /*** start blog componant ***/
  .blog .blog-content .blog-unit {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .blog .blog-content .blog-unit figure {
    width: 300px;
  }
  .blog .blog-content .blog-unit figure img {
    border-radius: 10px;
  }
  /*** end blog componant ***/

  /*** start footer componant ***/
  /*** end footer componant ***/
}
@media (min-width: 768px) {
  .main-container {
    width: 740px;
  }
  .nav-content .mobile-bar svg:first-child {
    display: none;
  }
  .nav-content .mobile-bar svg:last-child {
    display: block;
  }
  /*** start hero componant ***/
  .hero .hero-content {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .hero .hero-content .hero-banner {
    align-self: flex-end;
    margin-left: 50px;
  }
  .hero .hero-content .hero-banner img {
    width: 250px;
    height: 400px;
  }
  .hero .hero-content .hero-details {
    text-align: left;
  }
  .hero nav .main-ul {
    display: flex;
  }
  .hero .hero-content .ulRecommendation {
    justify-content: space-evenly;
  }
  /*** end hero componant ***/

  /*** start product componant ***/
  .products .products-content {
    justify-content: space-between;
    gap: 20px;
  }

  .products .products-content .product {
    width: calc(100% / 3 - 20px);
  }
  /*** end product componant ***/

  /*** start about componant ***/

  .about .about-content .box {
    flex-direction: row;
    gap: 20px;
  }
  .about .about-content .box figure {
    width: 350px;
  }
  .about .about-content .box .box-details {
    width: calc(100% - 380px);
  }

  /*** end about componant ***/

  /*** start blog componant ***/

  /*** end blog componant ***/

  /*** start footer componant ***/
  /*** end footer componant ***/
}
@media (min-width: 992px) {
  .main-container {
    width: 960px;
  }

  /********start hero************/
  .hero .hero-content .hero-banner img {
    width: 300px;
    height: 510px;
  }
  /*********end hero***********/
  /*** start product componant ***/
  .products .products-content {
    gap: 40px;
  }

  .products .products-content .product {
    width: calc(100% / 3 - 40px);
  }
  /*** end product componant ***/
}
@media (min-width: 1200px) {
  .main-container {
    width: 1175px;
  }
}
